<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

    <nav class="breadcrumb" aria-label="breadcrumbs" >
        <ul>
            <li><a class = has-text-warning href="">Doorbell</a></li>
            <li><a class = has-text-warning href="doorbell:">Login</a></li>
            <li><a class = has-text-warning href="{% url 'doorbell:home' %}">Home</a></li>
            <li><a class = has-text-warning href="{% url 'doorbell:home'  %}">{{groups.group}}</a></li>
            <li class="is-active"><a class = has-text-danger href="{% url 'doorbell:home' %}" aria-current="page">Search Posts</a></li>      
        </ul>
    </nav>
    

    <h1>Search Results for {{search_term}}</h1>
    
    {% include 'doorbell/posts.html' %}
</body>